[2022-03-03 11:40] ahmadabugosh opened #1 "Setup"

[2022-03-15 12:50] markoprljic opened #2 "GM Branding"
- [x] - Brand Book
- [x] - Figma Brand file
- [x] - Brand assets exported in Google Drive and GM Github repo

[2022-03-15 12:51] markoprljic opened #3 "GM Website Design"

[2022-03-15 12:54] markoprljic opened #4 "Panvala Website redesign"

[2022-03-15 12:55] markoprljic opened #5 "Panvala Collective Action Passport"
https://docs.google.com/document/d/1SgvAFjMo6MLbsYlrz_aZQlK_nei1wz5LPhDctlR-cMs/edit?usp=sharing

[2022-03-15 14:04] ahmadabugosh commented on #3
hey@markoprljic , let me know once you find a template you like from webflow

[2022-03-15 14:15] rodricastillo9013 commented on #3
hello! I'm learning about webflow! If you need help with anything let me know :)

[2022-03-15 14:21] markoprljic commented on #3
@ahmadabugosh Before I can search for templates we need to have our brand defined so that I can find the best match.

[2022-03-15 15:19] GriffGreen opened #6 "ABC Graphics for the next article"
https://docs.google.com/document/d/1zSbu7WDYzCnNdpJA27gO4orLGUSqj0GxE-XZhasieP0/edit

Futuristic Vending Machine needs graphics

[2022-03-16 09:30] markoprljic opened #7 "TE Academy"
TE Academy will build the first bachelor-level education program and NFT-based certification, open job-boards and matchmaking activities for projects seeking Token Engineering expertise. Via this offering, we’ll define standards for this new discipline. Additionally, NFT-based certification opens the door for new value flows in TE education and research.

About the project https://forum.tecommons.

[2022-03-16 09:31] markoprljic opened #8 "Estimate design work"

[2022-03-16 09:31] markoprljic opened #9 "Set up the team"
Set up team roaster for this project based on the requirements.

[2022-03-22 13:16] markoprljic opened #10 "Panvala Sponsored Stamps"
Design brief https://docs.google.com/document/d/1GwaVYudOU_H76dDFQsztTIYrSHGZ_gJ93ySV4dGgggw/edit?usp=sharing

[2022-03-23 06:55] markoprljic opened #11 "Record Zenhub Demo for GM"

[2022-03-23 06:56] markoprljic opened #12 "Set up Buddy Reviews"

[2022-03-29 12:35] markoprljic opened #13 "Interview Aleksandra Volanska"
https://app.recruitee.com/#/offers/general-magic-graphic-designer/pipeline?candidate=34416563&offerId=907216

[2022-03-29 12:37] #11 closed

[2022-03-29 16:04] markoprljic commented on #10
https://www.notion.so/panvala/Panvala-Stamps-600a8b10662942528e3ef96613de7f4c

[2022-03-30 10:20] freshelle opened #14 "Q1 Buddy Reviews"
- [ ] Make sure everyone fills out [this form](https://forms.gle/1ChifQioDRYhPsfA8) (excluding new hires)
- [ ] Remind buddies to schedule calls and fill out [this form](https://forms.gle/RhY5HvzrhE7hmeGB9) after conducting reviews
- [ ] Check each work agreement if updated
- [ ] All work agreements should have signed work agreements (openlaw)

[2022-03-30 18:08] markoprljic opened #15 "Interview Lulu"

[2022-03-31 11:09] freshelle opened #16 "March 2022 Payroll"
- [x] Pay monthly fixed compensation
- [x] Confirm hours - hourly contracts
- [x] Pay hourly contracts

[2022-03-31 11:11] freshelle opened #17 "Onboard RB"

[2022-03-31 11:20] freshelle opened #18 "Onboard Matt"
- [x] personal info form
- [x] assign buddy
- [ ] share trello onboarding board
- [ ] add to sobol
- [x] share work agreement draft (google doc)
- [ ] buddy review work agreement (job summary and tasks)
- [ ] openlaw agreement - signed by new hire and buddy
- [ ] notify Heather for new hire check-in (if applicable)
- [x] add to monthly payroll list

[2022-03-31 11:22] freshelle opened #19 "Onboard Yass"
- [x] personal info form
- [x] assign buddy
- [ ] share trello onboarding board
- [ ] add to sobol
- [x] share work agreement draft (google doc)
- [x] buddy review work agreement (job summary and tasks)
- [x] openlaw agreement - signed by new hire and buddy
- [ ] notify Heather for new hire check-in (if applicable)
- [x] add to monthly payroll list

[2022-04-04 14:27] #15 closed

[2022-04-04 14:27] #13 closed

[2022-04-04 14:29] markoprljic opened #20 "Interview Alexandrina Varbanova"

[2022-04-04 14:31] markoprljic opened #21 "Panvala Onboarding & Offboarding Journey Mapping"
https://www.notion.so/panvala/Onboarding-Off-boarding-c6e7ea8b0b3e460c9dcc1e896fc6b167

[2022-04-04 14:33] markoprljic opened #22 "TEC Simulator - can we change how conviction voting chart displays"
https://forum.tecommons.org/t/tec-simulator-can-we-change-how-conviction-voting-chart-displays/957

[2022-04-04 16:59] GriffGreen opened #23 "Update the ABC design for the Stats page that was proposed for TEC's Convert page"
The details are really well stated here:
https://github.com/CommonsSwarm/tec-convert/issues/16

But this was all scoped out a long time ago and now we have this awesome dashboard

https://dune.xyz/tecommons/TECommons

So we might want to combine the dashboard with the current designs...

I am pretty sure there is a way to score that data from Dune and make it all in a nice webpage... but maybe POC

[2022-04-04 17:00] GriffGreen commented on #23
@markoprljic tagging you for visibility

[2022-04-04 20:00] #1 closed

[2022-04-04 21:50] ahmadabugosh commented on #20
Hey @markoprljic , Heather and I put our notes on Recruitee for her: https://app.recruitee.com/#/offers/general-magic-graphic-designer/pipeline?candidate=34639050&offerId=907216

[2022-04-05 05:03] markoprljic commented on #23
From Discord conversation:

- How do we merge the old designs with the dune dashboard?
- decide what needs to be on the page
- the first goal should be just to take the ABC relevant things and duplicate them in the stats page
- i like the idea of showing the whole curve with a dot we are at
- we are aiming to simulate the sell and the buy
- I don't think we should show the floor price, in the grap

[2022-04-05 08:04] markoprljic commented on #20
Yup thanks!

[2022-04-05 09:03] pakokrew commented on #23
It would be great if we can go step by step:
- First rework the convert page to make it match the design we want (same app but different design)
- Add the ABC graph to display stats, 'we are here', entry/exit price ...
- Add the calculator
- Add the historical prices

I guess from a design perspective it'd be better to design all at once, but it will be done in this order anyway on the development

[2022-04-05 09:44] markoprljic commented on #23
Design needs to wireframe first so that we know what goes in screen. We will decide all details in that phase.

[2022-04-05 13:31] markoprljic opened #24 "GM Branding Kick-off with Lulu"

[2022-04-05 13:34] #10 closed

[2022-04-06 09:50] markoprljic commented on #4
@rodricastillo9013 Rachel and Margaret left some comments in Figma, please review and let me know if you have any questions.
Do you think we can make all revisions and finalize it this week?

[2022-04-06 16:11] #24 closed

[2022-04-12 20:03] ahmadabugosh opened #25 "Create Offer Letter template for GM"

[2022-04-12 20:20] ahmadabugosh commented on #25
Hey I made a draft of this offer letter, let me know what you think @freshelle (once you're back from vacation of course!) https://docs.google.com/document/d/1OX3ZeAE6BQXDonN5L7pMSENOwurAxPPaZveLbI-y6T4/edit?usp=sharing

[2022-04-20 12:17] freshelle commented on #25
This looks great, Ahmad! Left some comments in the doc

[2022-04-25 10:36] markoprljic opened #26 "GM Ops"

[2022-04-25 10:37] markoprljic opened #27 "Project questionnaire or PRD to send to client"

[2022-04-25 13:53] GriffGreen opened #28 "Hatch Config Dashboard needs design to get started"
Here is the old Dashboard:
http://params.tecommons.org/hatch

We need to make a white label-able new version that is as sexy as: https://config.tecommons.org

[2022-04-25 14:03] GriffGreen opened #29 "Giveth integration projects need design"
Fabio's Dashboard project's designs are a little sad:

https://forum.giveth.io/t/giveth-info-an-analytics-tool-for-the-community/514/

Also Poingant Art will have something soon... Impact Markets had some dreams... it would be really nice if we could help other Giveth teams build on us via Cotabe's Sandbox effort:

https://forum.giveth.io/t/giveth-sandbox-a-strategy-to-bring-builders-to-collab-on-

[2022-04-25 14:28] GriffGreen opened #30 "Commons Stack Website redesign"
Not sure when this will happen, depends on Tam's bandwidth.

[2022-04-25 14:53] markoprljic opened #31 "Discord Bot for wellbeing Check-in"
Apollo bot (or other) for Discord for members to check-in every day and tell us how they feel.
We should create Check-in channel (public I guess) and automate the bot to send message every day at a certain time.

https://discord.bots.gg/bots/475744554910351370

Example of the bot question and reactions. ![Screenshot 2022-04-25 at 16.52.42.png](https://images.zenhubusercontent.com/5cc090818b624e26c

[2022-04-25 14:55] markoprljic opened #32 "Praise Bot for GM"
Integrate Praise bot to GM discord server.

[2022-04-25 14:56] markoprljic commented on #32
@Vyvy-vi Where is the Praise data saved? Can we save that in our Google Drive folder?
Is there anything else we should be aware of when setting this up?

[2022-04-25 15:14] markoprljic opened #33 "Create Gitbook for GM"
Create a Gitbook for GM (public).
Start producing content on who we are, what we do, our processes, Discord structure maybe, onboarding/offboarding etc. links to resources etc.

We can reuse that content later for our website or in other communications channels.

[2022-04-25 16:09] markoprljic opened #34 "GM Marketing"

[2022-04-27 09:55] markoprljic opened #35 "Create content to promote GM"

[2022-04-27 09:56] markoprljic opened #36 "Twitter promotion, plan and schedule"

[2022-04-27 09:56] markoprljic opened #37 "Twitter promotion, plan and schedule tweets"

[2022-04-27 09:57] markoprljic opened #38 "Impact DAOs Outreach"
Some resources found:

https://impactxweb3.notion.site/fe8b3dc1f1d24f9bbc8192ee246ac18a?v=ea5d3439d7c7470c9421dab3688446ae
Made by [Impact Cartographers Coalition](https://impactxweb3.notion.site/impactxweb3/Impact-Cartographers-Coalition-01a9d06620b14395884df1dc737bb5e7)

Messari list by category https://messari.io/governor/daos?types=Impact

[2022-04-27 09:57] markoprljic opened #39 "Create brochure about GM and servires (PDF or Slides))"

[2022-04-28 14:46] markoprljic opened #40 "Set up bridged channels in Discord"
**What?**
We would like to create channels in Discord that are bridged with the organizations we collaborate with.

**Why?**
We want to solve the problem of having to invite people to our server in order to coordinate the work we have with them. We think it would be best to keep everyone on their own server and be able to add people to the channel as they want, having the channel bridged it will b

[2022-04-29 16:22] rodricastillo9013 opened #41 "Design Panvala Stamps Education"
Task: we must make the design of slides in Google slides.

1 Slide: redesign this slide with the Panvala aesthetic. ( Format Google Slides)

2: Google Slides for panvala Stamps Education

Format: Google Slides ( Use Master slides) the document must be editable so that our colleagues can modify it according to their needs.

Design Style: Here hace resources for the Panvala Line design. https://www.

[2022-05-02 10:27] markoprljic opened #42 "Set up a Swag Shop for GM"
We would like to set up a Swag Shop for GM.
Ideally we would want it to be hosted on our server and domain, and have a Printful account.
For the MVP we could possibly set up GM shop under existing CS and Giveth shops, and use their Printful?

Go live soonest possible and when we have artwork ready.

[2022-05-02 10:34] markoprljic opened #43 "Design artwork for Swag shop and upload to Printful"
We need swag designs for our shop.

- Tshirt
- Hoodie
- Hat
- Mug
- Stickers

We will use Printful shop and they have print specifications already https://www.printful.com/blog/everything-you-need-to-know-to-prepare-the-perfect-printfile/

Once designs are created and approved we need to upload them to Printful:
- choose mockups, materials and price
- set up product titles and other details needed

[2022-05-02 10:34] markoprljic commented on #43
I'll add Lulu to this task once she joins our repo.

[2022-05-02 14:45] markoprljic commented on #40
6 Steps to build a bridge:

1 - Give manage server permissions to @geleeroyale (you can also give me manage webhooks so I can do step 5 myself)
2 - Create the bridging rooms on both servers
3 - I invite my bot
4 - The bot needs:
manage webhook and
manage roles permissions
5 - Webhooks need to be set up per channel bridged (for user spoofing)
6 - I bring it all together and activate the bridge

[2022-05-02 15:24] ahmadabugosh opened #44 "Create Password Manager for Shared Services"

[2022-05-03 10:27] markoprljic opened #45 "Copywriting for GM Website"
We need to write the copy for our website. Landing page should explain who we are and what we do.
We will probably need some other content for remaining pages like About us, Contact etc.

Current draft https://giveth.notion.site/General-Magic-Website-Content-3d2f89657b754a3aa4f10c7a8ddfc45e

Inspiration websites, some communicate really well https://giveth.notion.site/Website-inspiration-e01e557ca

[2022-05-03 12:25] markoprljic opened #46 "GM Website"

[2022-05-03 12:29] markoprljic opened #47 "Hatch Dashboard"

[2022-05-03 15:41] #20 closed

[2022-05-03 15:44] rbsal97 opened #48 "Creating $TRUST concept to be associated to TS Swag Shop"
We need ideas on how to introduce & associate $TRUST concept to our Trusted Seed Swag Shop.

Areas for discussion:

1. Concept of $TRUST
2. Ideas on how to build narrative around $TRUST (Discussion or concept flow).
3. Actual narratives or points of discussion we can work on to associate on TS Swag Shop Page.

After we get to finalize the concept and summarize all the ideas, we can then create eff

[2022-05-03 15:48] markoprljic commented on #29
Tagging @rodricastillo9013 @Tosinolawale @mosaeedi for awareness.
Next steps should include:

1. Properly define the design scope
2. Define the timeline and deliverables
3. Assign a designer

Anything else?

[2022-05-03 15:49] markoprljic commented on #43
Tagging you for awareness @luluavalloni

[2022-05-03 15:51] rodricastillo9013 commented on #6
hi!, we must generate graphics for this post, we continue with the aesthetics that we used for the previous post that we worked on? @GriffGreen

[2022-05-03 15:52] #21 closed

[2022-05-03 15:52] #4 closed

[2022-05-03 15:53] rodricastillo9013 commented on #43
hi team! perfect. we'll move on with this :)

[2022-05-03 15:54] rodricastillo9013 commented on #4
ok perfect, yes I'll work on it. @markoprljic

[2022-05-03 15:55] luluavalloni commented on #43
Working on it!

[2022-05-03 15:55] markoprljic commented on #4
This one is closed @rodricastillo9013 We started webflow integration, design part is done. Hoooray! Great job!

[2022-05-03 15:57] rodricastillo9013 commented on #4
ok!! nice! thanks marko! :)

[2022-05-03 16:00] markoprljic opened #49 "COED (Internal R&D)"

[2022-05-03 16:00] markoprljic opened #50 "clrFund EF Theme Redesign"
From Auryn:

So the current need is really just to tidy up the designs of the new version of the app.
The ethereum.org crew did a really nice job updating the app, but we would like to simplify the CSS so that it's really easy for others to come in and change few hex colours and images to rebrand clrfund for their project.

https://clr.fund/#/

Figma UI https://www.figma.com/file/4Y1QtjKO9iUuKIJbD

[2022-05-03 16:01] markoprljic opened #51 "ABC Advanced Page (TEC)"

[2022-05-03 16:02] markoprljic opened #52 "GM Swag Shop"

[2022-05-03 16:07] markoprljic opened #53 "Praise System for GM"

[2022-05-03 16:11] markoprljic commented on #29
@GriffGreen I think the second link you provided here is the same as the first one. Is that correct? Were you referring to something else? I need more clarification on this, please.

[2022-05-03 16:19] markoprljic opened #54 "Kick-off and review wireframes with Angela"

[2022-05-03 17:39] markoprljic commented on #39
Content needed.

[2022-05-03 18:35] kristoferlund commented on #53
We discussed this yesterday and concluded to wait with GM praise until there is someone that can take on the role as "Praise-facilitator". Someone need to open and close rounds, lead the quantifications etc. Or maybe @Vyvy-vi you are that person? :) Mitch has enough of that over at TEC.

[2022-05-03 18:37] kristoferlund commented on #42
I'd like to pass this ball to RB.

[2022-05-03 18:37] markoprljic commented on #53
Do we have any instructions on how this is done, step by step? We could assign someone for this admin task if it doesn't require great skills and Web3 knowledge that can't be learned fast.

[2022-05-03 18:38] markoprljic commented on #42
Do we have him here? How should he be informed?

[2022-05-03 18:40] kristoferlund commented on #53
Best way is to join the TEC for a praise round or two to learn the process.

[2022-05-03 18:45] kristoferlund commented on #42
I don't seem to have permissions to invite him.

salupado.rb@gmail.com

[2022-05-03 19:18] markoprljic commented on #53
There's no way someone could write this in a doc?

[2022-05-03 20:21] markoprljic commented on #53
No easy task 🙂

[2022-05-03 21:26] kristoferlund commented on #53
I do think the forum posts are quite easy to follow. And like I said, whoever takes on the task, we will support that person - answer any questions etc.

[2022-05-05 13:08] #16 closed

[2022-05-05 16:17] rbsal97 commented on #42
Hi Team, will be working on this.

[2022-05-12 11:37] Vyvy-vi commented on #53
I would be willing to set up praise and  facilitate praise for a while

[2022-05-12 11:40] Vyvy-vi commented on #32
closing this one (clone of #53)

If we're implementing the new praise system, the data would be stored on the DigitalOcean droplet we would be using.

[2022-05-12 11:40] #32 closed

[2022-05-12 11:53] markoprljic commented on #53
Amazing! Thanks @Vyvy-vi
We should however, teach someone who's willing to facilitate praise quant later. I'm just thinking of best way to have a doc that can serve as tutorial for that.

[2022-05-12 12:31] Vyvy-vi commented on #53
Yes, I think we should make a Praise Gitbook ASAP(at least before we distribute praise to Gnosis and others)

[2022-05-12 12:58] kristoferlund commented on #53
That is high up on my todolist. During the process of helping Gnosis and Giveth to get set up we will be filling that handbook with material.

[2022-05-12 14:08] markoprljic commented on #39
@ahmadabugosh What's the current state of this? Do we have something written already? Did we agree on the format? Google Slides and then exported to PDF?

We have graphics and design that can support this once the raw content is ready.

[2022-05-12 14:09] markoprljic commented on #25
Is this done? Can we close it?

[2022-05-12 14:09] markoprljic commented on #41
@rodricastillo9013 Is this done? Can we close the issue? If so please do :)

[2022-05-12 14:28] ahmadabugosh commented on #25
@markoprljic yes this is done, closing this now

[2022-05-12 14:28] #25 closed

[2022-05-12 14:47] rodricastillo9013 commented on #41
@markoprljic They asked me for some adjustments, which I plan to do today, and then I will close it!

[2022-05-13 06:52] #43 closed

[2022-05-13 06:53] #40 closed

[2022-05-13 07:03] markoprljic opened #55 "Prepare products for GM Swag Shop"
We need to prepare products for our swag shop.

- Tshirt
- Hoodie
- Hat
- Mug
- Stickers
- etc.

We will use Printful shop and they have print specifications already https://www.printful.com/blog/everything-you-need-to-know-to-prepare-the-perfect-printfile/

Design Source files can be found here: https://drive.google.com/drive/folders/1ORI2rW_ScMYr7Eclt_Vl9IYs49uOFyTy?usp=sharing

Task description

[2022-05-13 07:14] ahmadabugosh commented on #39
Hey @markoprljic so I was thinking of an expanded version of the contract proposal template I sent you (as a Google slide, exportable to PDF I think is the way to go). Let me add this to my to-dos, to work on the content, then I can share with you @GriffGreen & @divine-comedian for feedback, then we can clean up the design

[2022-05-13 16:11] rodricastillo9013 opened #56 "NFTs Avatars for the web section "team""
I thought that for the new GM website we could include the team section.
For this I propose to make avatars of our team members with @luluavalloni , and then turn them into NFTs. :)

We should define what style of avatar we will have, if 100% fanciful, or make our images from photographs and that lulu with his magic creates our digital versions with the GM style.

If we opt for the second option,

[2022-05-16 09:57] markoprljic opened #57 "clrFund Pool Party Illustration"
What would the pool party on the other side of the doorway/archway in the hero image of Ethereum.org look like?

Attached is the original moodboard created by another artist.
Ethereum.org and poolsuit/vacation are good additions to the mood board.

https://ethereum.org/en/assets/
https://poolsuite.net/
https://www.vacation.inc/

![clr_moodboard_01.jpg](https://images.zenhubusercontent.com/5cc09081

[2022-05-16 12:21] luluavalloni commented on #56
That's so cool! hahaha
I'm in!
I can do photo based drawings with surreal aspects added to it <3

[2022-05-16 16:12] rbsal97 commented on #48
Hi @mafer-cordovas, for your reference! Thanks for helping us out!

[2022-05-16 17:35] mafer-cordovas commented on #48
Here are the requested concepts:

1. Concept of $TRUST

$TRUST is a non-transferrable reputation token representing the “skin in the game” that value-driven members of the blockchain community have put towards advancing Commons Stack’s mission.

Anyone holding $TRUST is a member of our Trusted Seed, a highly curated list of reputable & experienced community members who are aligned with our mission

[2022-05-16 18:53] rodricastillo9013 commented on #48
Hello, thanks for your contribution!
I have some questions.

- Should we make an identity for $TRUST to then add it to the TS Swagshop?

- In case of developing a proper identity for this token, should we relate it to the TS design line?
@mafer-cordovas @rbsal97

[2022-05-17 10:13] markoprljic opened #58 "clrFund - Define the design scope and requirements"
1. Set up a call with Auryn (reach out on discord channel)
2. Define the design scope and requirements
3. Submit Requirements document to this issue
4. Create a plan, milestones and deliverables

[2022-05-17 11:32] rbsal97 commented on #48
Hi Rodri!
I think we should make an identity for it and also relate it to the TS Design. But I think what marko also suggest is that we create a brief introduction on the $TRUST concept within our TS Swag Shop page?

[2022-05-17 15:43] rodricastillo9013 commented on #48
we have coordinated with @rbsal97

- I will work on a $trust section where we will explain the concept and add the information that @mafer-cordovas  gave us
- From there we can work polishing the content collaboratively in figma.
- Once defined, a developer will implement it in the TS Swag Shop.

FYI @markoprljic

[2022-05-18 10:47] markoprljic opened #59 "Panvala Webflow integration"
Panvala Website Design https://www.figma.com/file/rCMg3IEeExpLUSkJqxRhE1/Panvala-Website---New-2022?node-id=1%3A7

Task:
- create a style guide based on the design mock ups
- build out UI with webflow
- integrate social media, contact and embedded links where necessary
- add animations where necessary
- Hosting and domain set up (exists already)
- Email accounts/Forms set up
- Web skeleton/Wirefra

[2022-05-18 10:48] markoprljic commented on #59
@peteredebs Please review the issue and provide an estimate on timeline. Thanks!

[2022-05-18 18:51] zzaaiinnk commented on #45
Logged in, Marko. Will work on this tomorrow!

[2022-05-18 20:27] kristoferlund commented on #53
Praise landing page and docs site is up. Now only thing missing is the content.. 😄

And .. nicer design for the landing page and the app, nudge nudge @markoprljic, whenever someone in the design team has capacity.

https://givepraise.xyz

[2022-05-19 05:31] markoprljic commented on #53
Nice @kristoferlund :)

So what I'm hearing is:
- Landing page design of https://givepraise.xyz/ using the existing content and what brand? CS?
- UI design of the Praise App, which is where?

[2022-05-19 05:32] markoprljic commented on #45
Nice! Thanks :)

[2022-05-19 09:26] kristoferlund commented on #53
The TEC praise instance runs at https://praise.tecommons.org.

I discussed the design issues with Tam earlier today. I think we concluded that CS don't have the budget to do any Praise design work just now. We'll continue that conversation on Monday. I'll follow up after that somewhere better than this thread.

[2022-05-19 09:27] markoprljic commented on #53
Ok, thanks for the update @kristoferlund

[2022-05-19 11:50] #5 closed

[2022-05-19 11:50] markoprljic commented on #6
@rodricastillo9013 Status update?

[2022-05-19 11:51] #12 closed

[2022-05-19 12:58] rodricastillo9013 commented on #6
I didn't get an answer from Griff, we have a machine design for another article, I can apply it here, no problem. I will read the article again today and apply the designs that I think are necessary, and I will notify you so that you can send me feedback.

@markoprljic @GriffGreen

[2022-05-19 13:18] markoprljic commented on #6
Consider @jesicadg if needed.

[2022-05-19 19:24] zzaaiinnk commented on #45
[https://app.zenhub.com/files/465670090/4b29b94a-d324-491c-b9ff-91e7028b8537/download](https://app.zenhub.com/files/465670090/4b29b94a-d324-491c-b9ff-91e7028b8537/download)

[2022-05-19 19:25] zzaaiinnk commented on #45
Please read through @markoprljic and let us know if we are close to your expectation. Still trying more to understand the Target Group and happy to refine it further. Looking forward.

[2022-05-19 22:03] rodricastillo9013 commented on #48
we can start working on this page, could you help me with the definition of the content and I can finish styling the design

https://www.figma.com/file/X9XOjDIS6U8AEssNxx3SED/Trusted-Seed-Dashboard?node-id=1558%3A37 @rbsal97 @mafer-cordovas

[2022-05-20 05:49] markoprljic commented on #45
Thanks!

@divine-comedian @ahmadabugosh Want to review this as well?

[2022-05-20 12:55] ahmadabugosh commented on #45
Thanks @zzaaiinnk ! Would you be able to share it as a Google doc and allow "Anyone to comment"? That would make it easier for us to give feedback

[2022-05-20 20:30] zzaaiinnk commented on #45
Yes, I can do that next @markoprljic - but I will need the scope, Target Group, and keywords to write from scratch. I was under the impression that you want the existing content to be refined. Please let me know if that's the other way. Thanks!

[2022-05-20 20:34] zzaaiinnk commented on #45
Here is the Gdocs link @ahmadabugosh @markoprljic - feel free to comment and provide feedback

[2022-05-23 09:05] tamarandom commented on #51
This issue can probably replace #23 now.

Zeptimus is in the process of finalizing the Creative Brief. It should be finished today-ish.
https://docs.google.com/document/d/12rYtT9vHnBF0i84qz-MAORfMQ4Q5rVZFoIALNoGrY7U/edit#

[2022-05-24 16:25] Zeptimus commented on #51
Together with the Creative Brief we also created wireframes [here.](https://miro.com/app/board/uXjVO7-FzCI=/)

We need a designer to start working on those, there are some concerns regarding the complexity of module 1 that probably we need the eyes of someone that is not deeply involved to make sure it's easy to understand for new users, I'm happy to explain how it technically works and do QA of t

[2022-05-24 16:51] rodricastillo9013 commented on #56
@markoprljic  could you share with us the folder where you have the photos that the team is sharing, @luluavalloni  wants to start working on it.

[2022-05-25 07:17] markoprljic commented on #56
I sent you on DM @rodricastillo9013

[2022-05-25 11:39] rodricastillo9013 commented on #48
some feedback for this? @mafer-cordovas @rbsal97

[2022-05-25 11:40] rodricastillo9013 commented on #56
perfect, I will coordinate with @luluavalloni

[2022-05-25 18:55] mafer-cordovas commented on #48
@rodricastillo9013 I have requested editing powers on figma

[2022-05-26 10:49] markoprljic opened #60 "Prepare swag artwork for Printful"

[2022-05-26 12:18] rbsal97 commented on #48
Pretty good for me! For the 3 blocks below I suggest: Uses, Importance, History.

[2022-05-26 13:30] rodricastillo9013 commented on #48
nice! Done @mafer-cordovas

[2022-05-26 15:15] markoprljic commented on #51
@rodricastillo9013 @peteredebs

[2022-05-26 17:31] markoprljic commented on #60
This is what @kristoferlund shared as options we can choose for products, because they have good pricing and availability.

Baseball hat: https://www.printful.com/custom/embroidered/dad-hats/classic-dad-cap-yupoong-6245cm

Tank top: https://www.printful.com/custom/womens/tank-tops/mens-staple-tank-top-bella-canvas-3480

T-shirt: https://www.printful.com/custom/mens/t-shirts/unisex-staple-t-shirt-b

[2022-05-26 18:55] rodricastillo9013 commented on #51
hello everyone, it will be a pleasure to help with this project, we will work together with our colleague @jesicadg , we will start with this next week.

We will review all the information and notify you of any questions we may have.

@tamarandom @Zeptimus @markoprljic

[2022-05-26 18:59] mafer-cordovas commented on #48
I have added all the content needed on the $trust page. I also added a comment on Figma to change the '$' on the background @rodricastillo9013
![image.png](https://images.zenhubusercontent.com/61140368d41f1f02056e127f/925ce527-19f1-4775-8a0c-e405b1fbcd04)

I also put titles to the ones saying 'ICON' just so if you do add icons, that's the topic
![image.png](https://images.zenhubusercontent.com/611

[2022-05-29 10:29] markoprljic commented on #60
@jesicadg Updated the issue with Socks! :)

[2022-05-29 10:32] markoprljic commented on #60
I recommend that you do the following:

1. Prepare the artwork you need
2. Upload to GM Swag store assets library
3. Add a product from the list above (tshirt, hat etc.)
4. Place artwork on the product

You'll see if you need to adjust it and reupload or not. When you add artwork to assets library in Printful it stays there and you can then place it on any other product, however you may find out t

[2022-05-29 10:35] markoprljic commented on #60
Inside the File library in Printful I created a folder for GM, you will find it here. Click on the folder to upload assets there, so they don't get mixed up with all other assets from other projects.

![Screenshot 2022-05-29 at 12.34.42.png](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/a6a3664c-512e-4ff1-a294-c73b6477cd57)

[2022-05-30 06:36] markoprljic opened #61 "GM Team Playbook"

[2022-05-30 11:30] #9 closed

[2022-05-30 11:30] #42 closed

[2022-05-30 11:32] #55 closed

[2022-05-31 05:07] jesicadg commented on #60
Hi everyone! I left some new product templates in the store.

**Hats**: attention on final arts here. The Embrodery on the hats have a 6 colour limit.  Had to edit the campfire illustration a bit, let me know what you think. _Is it an option to use the font Akira for "General Magic" embrodery on the side?_
I chose not to use white hats so we can have the logo on white thread.

**Socks**: included

[2022-05-31 09:37] markoprljic commented on #60
Hey @jesicadg which store? I can't seem to find it in GM Swag store on Printful.

[2022-05-31 09:43] markoprljic commented on #60
Yes I know, I had to do the same :)

Yes we can use both Akira and our Logo, I prefer to use the Logo for the logo, if you know what I mean, and Akira font when we want to write something.

I understand.

Yes it's for Paris this July.

[2022-05-31 10:44] jesicadg commented on #60
Right @markoprljic that's on Product templates in GM Swag Shop

<img width="1436" alt="Screen Shot 2022-05-31 at 07 42 06" src="https://user-images.githubusercontent.com/105446617/171155998-6c3e6788-78ae-41a6-81aa-e34228b9855c.png">

[2022-05-31 11:39] markoprljic commented on #60
Ahaaa ok got it.

[2022-05-31 13:30] markoprljic opened #62 "Discord Build-up"

[2022-05-31 13:31] markoprljic opened #63 "Discord permissions for members in Trial period"
When new member joins GM and is on Trial period (one month), they should be given permissions to see Projects channels only.
After the trial period, and if accepted as full member of GM they should get assigned Magicians role to access the Keep.

How can we automate this? Should we use the Feature preview role or create a new one for this use case?

Reviewer:
@freshelle
@ahmadabugosh
@hanners-717

[2022-05-31 13:35] markoprljic opened #64 "Discord bot to check Team availability"

[2022-05-31 15:21] markoprljic opened #65 "Add pricing info, title and other details for each product"

[2022-06-01 09:54] markoprljic opened #66 "Design the GM Swag Shop Website"
Design the UI of our Swag shop:

- [Homepage](https://kristoferl2.sg-host.com/)
- [Product single page](https://kristoferl2.sg-host.com/product/mens-t-shirt-2/)
- Category page (e.g. Shirts, Stickers, Hats)

We can add content before shop items, like intro image, you can add content in columns, paragraphs, list, image, video, combined in every form you want and then Ketchy can add some custom styl

[2022-06-01 13:12] markoprljic opened #67 "clrFund"

[2022-06-01 13:12] #67 closed

[2022-06-02 12:21] markoprljic opened #68 "Discord bot to fetch issues rom Github"
Where does someone see open tasks to work on when they land on Discord?
Might be good to create a channel to feed new issues from github.

[2022-06-03 14:41] markoprljic commented on #28
Need PM, Designer and Devs together with Vitor.

Would be good to start in August and deliver mid October.

[2022-06-03 15:24] markoprljic opened #69 "Tokenlog V2"

[2022-06-03 15:25] markoprljic opened #70 "Create Tokenlog V2 PRD"

[2022-06-03 15:25] markoprljic commented on #69
@GriffGreen Please add description to this Epic and if you know already you can create some issues.

[2022-06-03 15:39] markoprljic commented on #6
Any updates on this @rodricastillo9013 ?

[2022-06-03 15:44] markoprljic opened #71 "TEC Library Website"
Token Engineering Conslience Library’s website. The library’s website will be mostly a static one where we upload resources however, we wanted to create what we called a “living library” where users can engage with the content; therefore it will have little additions on top of static pages ( not very complex though). Regarding what it would look like and what the features would be, we will finaliz

[2022-06-03 17:19] GriffGreen commented on #69
I can't find the repo but we need to talk with Wesley to figure out what v2 needs to be production ready.

We would like to be able to use it by the end of September for Grassroots Econ's MVV voting.

[2022-06-03 17:20] GriffGreen commented on #69
@rbsal97 maybe you could reach out to wesley and get more info on what we need for Tokenlog v2 to work well

[2022-06-05 16:09] markoprljic opened #72 "Create a list of projects that GM has worked on"
We need a list of projects that GM has worked on to show on our website under Projects page.

Each project should have:

- Title
- Short description
- Services (design, dev, pm etc.) and Tech stack used (ask devs)
- People who worked on this project (GM members + any outside collaborators)
- Client name / Org we partnered with
- Logo or Screenshots of the project (ask Designers)

[2022-06-05 16:11] markoprljic commented on #72
@rbsal97 Can you make this happen this week? You can get details of each project on their websites, forums, docs etc. and/or ask people who worked on these projects where to get basic info about it.

[2022-06-05 16:18] markoprljic commented on #72
Projects I'm aware of:

- Giveth
- Praise System (Commons Stack)
- Commons Simulator (Commons Stack)
- Trusted Seed Dashboard + Branding (Commons Stack)
- TEC website (TEC)
- TEC Hatch Dashboard (https://hatch.tecommons.org/)
- TEC Commons Upgrade (https://config.tecommons.org/)
- Swag Shop (Tally, Giveth, GM)
- BrightID CV parameters settings (https://forum.brightid.org/t/revisiting-the-brightdao

[2022-06-06 07:19] markoprljic opened #73 "Create artwork for tshirts based on text quotes"
Quotes:

A little magic can take you a long way.

There is magic, but you have to be the magician.

If you are a magician then you can always do a lot more magic than you think you can.

Think like a magician, present like a magician and perform like a magician.

You have to make the magic happen.

Magic lies in challenging what seems impossible.

Magic is believing in yourself, if you can do that

[2022-06-06 07:26] ahmadabugosh commented on #73
Small typo,  it should be "Think like a magician, present like a magician and perform like a magician" (it was missing the "a")

[2022-06-06 07:28] rbsal97 commented on #72
Hi Marko! Noted on this. FOr the documentation. Where will we keep all of this? @markoprljic

[2022-06-06 07:33] markoprljic commented on #72
We can do it here https://www.notion.so/giveth/Projects-4ba94e9b410f44c6aa99722f764bc6f2

[2022-06-06 07:33] rbsal97 commented on #48
Hi @rodricastillo9013 and @mafer-cordovas, can we close this one? Thanks for the awesome work!

[2022-06-06 07:33] markoprljic commented on #73
Thanks @ahmadabugosh :)

[2022-06-06 12:24] mafer-cordovas commented on #48
Close it with awesomeness!

On Mon, 6 Jun 2022 at 3:33 AM rbsal97 ***@***.***> wrote:

[2022-06-06 12:57] #48 closed

[2022-06-06 15:06] markoprljic commented on #60
@jesicadg Any chance you would be able to finish adding products to swag shop this week? We would need to add product details and make an order for ETH Barcelona.

I also mentioned you in the swag shop discord channel regarding a hat. Check it out! :)

[2022-06-07 07:30] jesicadg commented on #60
Yes! The hat is super cool, I think I might need an extra day but I'm on it.  New templates will be up tomorrow afternoon.

[2022-06-07 08:06] markoprljic commented on #60
Perfect, thanks!

[2022-06-07 23:56] peteredebs commented on #51
@rodricastillo9013 Updates on this? Can I be added?

[2022-06-08 08:52] markoprljic commented on #51
Yeah, I think you could work on this as well. We'll coordinate.

[2022-06-08 08:53] markoprljic opened #74 "Sync Google calendar with Discord Events"

[2022-06-08 14:36] markoprljic commented on #2
@rodricastillo9013 Can you do the last item in the list? Brand assets exported in Google Drive and GM Github repo

[2022-06-08 14:36] markoprljic commented on #2
This is the folder https://drive.google.com/drive/folders/1Zqx2-ZKCj_rwni-tNzczfDQtLvec9-e4
And I'll create a repo on github to make them available there.

[2022-06-08 14:39] markoprljic commented on #2
https://github.com/GeneralMagicio/GM-Branding

[2022-06-08 17:18] Zeptimus commented on #51
Hey peter nice to meet you! Me rodri and tam will have a first meeting feel free to join here: https://meet.jit.si/UndergroundTuesdaysMoveHighly
Will update here what we talk there.

[2022-06-08 19:57] rodricastillo9013 commented on #6
I wanted to try to work with jes, but I'll ask him if he can help, otherwise I'll finish it myself this week to close this. @markoprljic

[2022-06-10 07:20] markoprljic commented on #60
![Screenshot 2022-06-10 at 09.19.50.png](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/1bf67ed0-72f4-46d4-8599-5d6ba2135117)
@jesicadg I'd put this on the back and on the front upper left side just our logo.

[2022-06-10 07:22] markoprljic commented on #60
It would be cool to have this creature as a sticker with our logo, similar to campfire girl.

[2022-06-10 11:04] Zeptimus commented on #51
We had a meeting with Rodri

1- Wireframes are clear.

2- We will be working async on the figma file https://www.figma.com/file/b6kx4mkaHxzq4TPzaI1eRY/TEC-Dapps?node-id=2663%3A12872

3- We will use TEC branding but keep the template for make it easily replicable for other commons
Rodri will be working this week on a realistic version  (full freedom of designs) of the wireframes and we will have a

[2022-06-13 16:59] markoprljic commented on #2
Close if you want 😃

[2022-06-14 07:54] markoprljic commented on #56
@luluavalloni Can we get an estimate on completion for all team member avatars?

[2022-06-14 08:39] #2 closed

[2022-06-15 09:51] markoprljic commented on #8
@Tosinolawale @peteredebs

[2022-06-15 09:52] markoprljic opened #75 "Estimate Development work"

[2022-06-15 16:49] luluavalloni commented on #56
Hey, I'll finish them all this week, along with the quotes.

Em ter., 14 de jun. de 2022 às 04:54, Marko ***@***.***>
escreveu:

[2022-06-16 07:44] VMLVaske opened #76 "TE-CMS"

[2022-06-16 07:45] VMLVaske opened #77 "TE-Web Engine"

[2022-06-16 07:45] VMLVaske opened #78 "TE-NFT Minter"

[2022-06-16 07:45] VMLVaske opened #79 "TE-LMS"

[2022-06-16 07:46] VMLVaske opened #80 "Design & Wireframe"

[2022-06-17 15:46] markoprljic commented on #57
![90F367CF-29E1-4B3D-955F-A4E0668CFF6F.jpg](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/9d48699d-f2ed-4802-a0a0-766f18275ca3)

[2022-06-17 15:47] markoprljic commented on #57
![POOL_HEADER_GM_02.png](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/5179515a-c9d9-4913-901a-17b3c38a2c39)

[2022-06-20 13:41] markoprljic opened #81 "Create Partnership agreement and terms with Wesley (Tokenlog)"
- Apply for grants to get money, (but it will be free to use by others)
- Long term partnership with Wesley
- Offer it as a product that we can deploy at cost
- We can deploy and charge, we split 80/20, and vice versa
- If any funds raised in the future we split the money 50/50
- Similar approach to CS
- Other ideas?

[2022-06-20 13:42] markoprljic opened #82 "Define the MVP version of Tokenlog V2"

[2022-06-20 13:43] markoprljic opened #83 "Tokenlog V2 Team roster and roadmap planning"

[2022-06-21 10:02] #36 closed

[2022-06-21 10:02] markoprljic opened #84 "Promote GM Swag shop on Social Media"

[2022-06-21 10:05] markoprljic commented on #84
@jesicadg Are you capable and qualified to work on this?
@ahmadabugosh Can you assist with setting up accounts and sharing login credentials?

[2022-06-21 12:39] markoprljic opened #85 "Company Brain and Processes (Coda)"

[2022-06-24 09:13] markoprljic opened #86 "Company Brain"

[2022-06-24 09:16] #85 closed

[2022-06-24 09:16] markoprljic commented on #85
Duplicated issue. Closing.

[2022-06-24 11:24] tomislavmamic opened #87 "Create HR Pipeline"
Hey @ahmadabugosh can you help write down here all the requirements for the HR Pipeline?

So far, we got:

New applicant can:
    - fill out an Application form
    - fill out a [Personal Information Form](https://docs.google.com/forms/d/e/1FAIpQLSd9uDmt-npvId-NF18Ois952lUgHiKmSPtaRUZC6bFB17M4nA/viewform)
    - sign an Offer Letter
Employee can
    - join Discord, Zenhub, Github, Notion, Clockify,

[2022-06-24 21:59] ahmadabugosh commented on #87
@Nicbals @hanners-717 can you help with this? This is for the stages of the HR pipeline (from trial period, to onboarding, to hired (full time or part time), to offboarding)

[2022-06-27 08:45] Nicbals commented on #87
Hello @tomislavmamic ! I have prepared this document for the Step by Step process of the onboarding process. Please let me know if you have any questions.

https://docs.google.com/document/d/1toIt75T24JhW0gKgBz37C8UUp80sL8wn0XPxjeSUKrs/edit?usp=sharing

[2022-06-27 10:04] VMLVaske opened #88 "Build MVP"

[2022-06-27 10:09] VMLVaske opened #89 "Build Frontend: Page "Sign Up""
Angela will provide a selection of stock photos, which should be used,  as well as make a final decision about font colors. Minor changes to the Hi-Fi page design need to be implemented (add Twitter Sign-In, change Full Name to First Name + Last Name), otherwise design is approved and building can begin.

[2022-06-27 10:09] #89 closed

[2022-06-27 12:25] #72 closed

[2022-06-27 12:31] rbsal97 commented on #58
Project Deliverables:
1. A new color system for light and dark mode.
2. New Illustrations for Clr Fund.
3. Designs with the new color system implemented.

Estimate Timeline:
- 2 weeks.
@peteredebs

[2022-06-27 13:00] tomislavmamic opened #90 "Research needs by prospect web3 clients for swag shop"

[2022-06-28 05:02] peteredebs commented on #58
@rbsal97 This is Acknowledged.

[2022-06-28 14:12] #75 closed

[2022-06-28 14:12] #7 closed

[2022-06-29 11:57] #58 closed

[2022-07-01 08:56] markoprljic opened #91 "Slash command to get a list of member info (email address, telegram, twitter, wallet etc.)"

[2022-07-01 08:57] markoprljic opened #92 "Access to Buddy review data"

[2022-07-06 15:03] rbsal97 opened #93 "Submit Contract Proposal to clrFund (Auryn)"

[2022-07-06 15:05] rbsal97 opened #94 "Finalize Dev Timeline for clrFund Front End Coding"

[2022-07-15 12:18] rbsal97 commented on #57
Notes from Auryn:

The original prompt was something along the lines of "what would the pool party on the other side of the archway in the ethereum.org hero image look like" ?

The keywords I'd use to describe the vibe we want are: lunar punk, light-hearted, and diverse.

What we really need is just some general purpose artwork that can be re-used in a bunch of different contexts. The artwork that

[2022-07-16 11:49] #66 closed

[2022-07-16 11:51] markoprljic opened #95 "GM Website Front End coding"

[2022-07-16 11:51] markoprljic opened #96 "QA Testing GM Website"
**Testing and proofreading**

- Rodri to test if design is implemented correctly
- Everyone to test responsive / mobile version and proofreading
- Test if contact form is working
- Test GA data

[2022-07-16 11:54] markoprljic opened #97 "Install Google Analytics on GM Website"

[2022-07-18 13:09] rbsal97 opened #98 "GM Website Marketing Plan"

[2022-07-19 11:49] ahmadabugosh commented on #93
@rbsal97 hey we can move this to done right?

[2022-07-19 12:43] rbsal97 commented on #93
@ahmadabugosh Yes! Closing it now.

[2022-07-19 12:43] #93 closed

[2022-07-25 10:44] rbsal97 commented on #50
**_Deliverable_**

Figma File: https://www.figma.com/file/4Y1QtjKO9iUuKIJbDhtDg1/clr.fund-EF-Theme-Redesign?node-id=10%3A0

@markoprljic @peteredebs

[2022-07-25 10:45] rbsal97 commented on #57
**_Deliverable_**

Google Drive Link: https://drive.google.com/drive/folders/1lzA8N1SRi6J5N4xAneKzKKcCRVS0umR3?usp=sharing

[2022-07-25 10:46] rbsal97 opened #99 "Tokenlog v2 QA"

[2022-07-25 12:16] markoprljic commented on #57
Wow, love it!

On Mon, Jul 25, 2022, 12:45 rbsal97 ***@***.***> wrote:

[2022-07-25 12:18] markoprljic commented on #50
I'm not seeing Components and Sections being done.
We should also update the illustration page when Lulu is done.

On Mon, Jul 25, 2022, 12:44 rbsal97 ***@***.***> wrote:

[2022-07-25 12:25] peteredebs commented on #50
@markoprljic on it!

[2022-07-25 16:20] rbsal97 commented on #60
Hi @markoprljic,

For new designs, what I think is that we create new designs based on an upcoming event and release it in bulk before the event so that any of us can order from the swag shop. We can then decide
1. What event to follow to reference our designs
2. Deadlines for the bulk designs

Or we can just do what is initially planned and create designs and upload them once finished?

@jesicadg

[2022-07-26 08:27] markoprljic commented on #60
@rbsal97 Yeah, this is what I did for Barcelona and Paris (did not attend unfortunately). In the future we can easily create an event specific swag.

We should now continue creating products based on the artwork we have and just start selling it to general public.

[2022-07-27 12:02] rbsal97 commented on #50
Additional Components Checklist:

- About page (subpages are all the same)
- Cart with several states and some modals
- Projects with several states and some modals
- Join (this seems a bigger one)
- Projects (single page, rounds, round information)
- Transaction success, fail
- Verify
- Wallet

cc: @peteredebs

[2022-07-27 14:03] rbsal97 commented on #57
I will be closing this one. Thanks! @luluavalloni

![Image](https://user-images.githubusercontent.com/98407510/181266845-c8ed4c29-8347-46a6-b2d0-8f93ae3c200b.png)

[2022-07-27 14:03] #57 closed

[2022-07-29 12:44] markoprljic commented on #70
@marthendalnunes I created this issue a while ago, you think this can be closed now since you already started working on this?

[2022-07-29 13:12] rbsal97 commented on #60
@tomislavmamic

[2022-08-01 10:15] peteredebs commented on #50
Ready for review @markoprljic

[2022-08-01 10:49] marthendalnunes commented on #70
@markoprljic I think so, we're in the test phase of Tokenlog V2, so we expect only small features and fixes to be done.

[2022-08-01 10:52] #70 closed

[2022-08-01 12:14] markoprljic commented on #50
Left some comments in Figma @peteredebs

[2022-08-02 11:56] tomislavmamic opened #100 "Payroll management"
Requirements:
https://docs.google.com/document/d/1y5MBpEhq1cF9UMQ9ewqPFX6YMD-qin3_rmS3pJrUSR0/edit?usp=sharing

[2022-08-03 10:59] #45 closed

[2022-08-03 11:01] #82 closed

[2022-08-03 11:03] #83 closed

[2022-08-03 13:50] #50 closed

[2022-08-09 11:20] rbsal97 opened #101 "Research "printful-like" services"
Find other services like printful to try integrate into swag shops to create wider product listings

[2022-08-10 12:56] markoprljic commented on #51
@zeptimus @rodricastillo9013 Is this completed? Can we close this Issue and Epic?

[2022-08-10 13:05] Zeptimus commented on #51
Designs are complete unless Mateo says that he needs some edits meanwhile deploying it, aiming to get this product done late September development started a week ago.

[2022-08-10 15:00] markoprljic commented on #51
Ok thanks. Can you confirm with Mateo? I'm looking to close the issue since it was created for design part. Unless you want to keep it open for your overview.

[2022-08-10 15:07] Zeptimus commented on #51
we can close it, ive created a new one on the TEC repo for keep tracking of it. Praise rodri for the amazing desings!

[2022-08-10 15:33] markoprljic commented on #51
Thanks!

[2022-08-10 15:33] #51 closed

[2022-08-10 20:44] VMLVaske commented on #27
Created this draft: https://www.notion.so/giveth/Project-Questionnaire-PRD-6ec2b12396ac4d2187ce2848791e8dc6

Proposal: If there is no more fields missing, I can make this into an airtable and we can link it directly on the General Magic Website for easy access + link it in our discord.
If we automate this, we should either direct the incoming proposals into a specific discord channel or assign a p

[2022-08-10 20:49] VMLVaske opened #102 "Policy for onboarding new clients and/or new projects"
Following the automation issue in  #27: We should probably have a guideline / policy in place for onboarding new clients + projects.

This document should be easily accessible. It should be written in a way that makes it able to be communicated externally (clients can see the steps involved in boarding with us and submit all the necessary info early on to move things along). It can start as a draf

[2022-08-10 21:00] VMLVaske commented on #28
The Hatch Dashboard has had it's initial Call with Tamara. Team Roster is set (Vitor, Pedro, Tosin, Marko, Valerie).

[2022-08-10 21:04] VMLVaske commented on #64
It is not a discord bot command, but I have set up this: https://www.notion.so/giveth/24a713d38f754f07adb5adfcf1d931ac?v=8ac7a8f65d29406ab917b268cf9eb86f

We need to maintain it manually. A discord bot would be nicer, but this visualizes things in a first instance. Still need to work out a way how to automate - but would need to figure that out for a discord bot as well.

[2022-08-10 21:20] #77 closed

[2022-08-10 21:20] #79 closed

[2022-08-10 21:21] #78 closed

[2022-08-10 21:21] #76 closed

[2022-08-11 09:45] rodricastillo9013 commented on #65
hi team! sorry I'm a bit busy these days with other tasks! I want to help with this.

I don't see it very clear, or maybe I missed something, this is for our Swagshop (GM). Should we select the type of product, price and make the designs for each one?

[2022-08-12 08:24] markoprljic commented on #27
This is great! @VMLVaske I'm leaving some comments in the Notion.
Please coordinate with @tomislavmamic and @Vyvy-vi on setup, automation and notifications.

[2022-08-12 08:31] markoprljic commented on #102
Perfect! Can you propose a simple version of what you had in mind?

[2022-08-12 08:41] markoprljic commented on #64
Yes, I'm aware of this. I also know we are (or were) using other trackers (Freshelle and Nico) and have the #who-is-available channel on Discord. I also know that @tomislavmamic is aware of this and that we might be building a solution with Coda + Discord automation and bot commands with @Vyvy-vi but I cannot confirm this at the moment.

This issue should address the above mentioned. For time bein

[2022-08-12 08:45] markoprljic commented on #28
Ok, so I guess this issue can be closed and we could create a new repo specially for the Hatch to PM the whole project?
We also need to write up all the requirements and necessary steps needed to complete each phase of the project.

[2022-08-17 09:17] tomislavmamic opened #103 "QA GM Swag shop redesign"
Test https://swag.generalmagic.io/ and check if everything works correctly.

[2022-08-17 09:34] tomislavmamic opened #104 "Client/Time allocation management"
For the flexible payment contributor (hourly contracts), maybe we could integrate this when they submit their monthly hours worked where they identify which org/client/project they have worked with and how many hours each. Similar to this sheet that we'll be converting to coda - https://docs.google.com/spreadsheets/d/1eyTeLe_FW_M3Dnal4Pe_Swdy5oZaZfX9qdDIGSh5phc/edit#gid=351790750

But everyone wou

[2022-08-17 09:35] tomislavmamic opened #105 "Buddy management"
Move buddy management system to GM HR, and make it accessible in GM Members so that buddies can submit reports, but not read other's reports.

[2022-08-17 09:37] tomislavmamic opened #106 "Time off"
Implement a form for submitting times-off (paid and unpaid) in GM Members.

[2022-08-17 09:39] tomislavmamic opened #107 "Automatic salary generation"
For fixed payment contributors make it possible for Freshelle to generate the salary in GM Payroll with a single click of a button. It should take into consideration of the contributor has submitted monthly time allocation report and also deduce any unpaid time off for the contributor from the salary amount.

[2022-08-17 09:58] tomislavmamic opened #108 "Show user operated ENS names"
When user is connected, show the names that the current wallet is operator of.

[2022-08-17 10:07] #108 closed

[2022-08-17 11:08] ahmadabugosh opened #109 "Pinned Tweet for General Magic"
We want to have a pinned tweet that talks about what GM does.

@anamarija09 started with the following, please leave comments on this doc: https://docs.google.com/document/d/1mAOqYNeoCWqeC3ejq2lRdHOUzEznZUY6uhqV7NqxIUg/edit

@divine-comedian @markoprljic

[2022-08-17 12:00] #103 closed

[2022-08-18 09:56] anamarija09 commented on #84
@ahmadabugosh and I discussed yesterday about this issue and we came up with a few ideas
1.	Competition/Giveaway to celebrate and promote the Swag shop launch (something like Giveth Angel Vault)
2.	Tweetstorm
3.	I will open an Instagram account (Should I use a separate email that will only be used for this purpose?)

@tomislavmamic do we have a launch date?

[2022-08-18 14:16] tomislavmamic commented on #87
Add HR stages into statuses

[2022-08-18 14:30] tomislavmamic commented on #104
There should be a table that shows how many hours (in %) does each person work on any project.

[2022-08-19 12:45] tomislavmamic opened #110 "The gray-out when loading updates on the cart looks bad"
Can we have this nicer, especially if we are going to automatically load updates whenever there is a change.

![CleanShot 2022-08-19 at 14.44.53.png](https://images.zenhubusercontent.com/62b57f94b4635de508a7b569/cacd3e32-6d1a-449d-b457-28a5180606a8)

[2022-08-19 12:49] #110 closed

[2022-08-20 11:46] #52 closed

[2022-08-21 17:34] markoprljic commented on #84
These are great ideas @anamarija09 :)

I'd say we do a Giveaway on Twitter and Instagram (we need to set up our profile there and store).

@mhmdksh and @ahmadabugosh can assist with email and account setup.

[2022-08-22 07:24] kkatusic commented on #97
@markoprljic who can provide GA code?

[2022-08-22 07:33] markoprljic commented on #97
MoeShehab or Ahmad.

On Mon, Aug 22, 2022, 09:25 kkatusic ***@***.***> wrote:

[2022-08-22 08:09] ahmadabugosh commented on #97
Hey @kkatusic , I recommend to use Google Tag Manager instead. That way we can easily add any future tags there (including GA, Google ads etc).

Can you please include the following:

**In the <head>**

[code]

**In the <body>**

[code]

[2022-08-22 08:17] kkatusic commented on #97
Hi @ahmadabugosh , thx.

I think @luizakp will implement it, I don't work on this project, I thought this was for GM Swag Shop :)

[2022-08-22 08:20] kkatusic opened #111 "Adding GDPR and Cookie appliance"

[2022-08-22 08:20] ahmadabugosh commented on #97
@kkatusic no worries! Actually, you can add the same code on the swag shop as well (it would make it easier for us to track if we use the same pixel).

[2022-08-22 08:25] kkatusic commented on #97
@ahmadabugosh I added it to Swag Shop, you can check it ;)

[2022-08-22 09:51] markoprljic commented on #109
I made some suggestions, please review @ahmadabugosh

[2022-08-22 09:51] markoprljic commented on #109
@anamarija09 Should also review and collect links and images for the tweet thread.

[2022-08-22 10:05] tomislavmamic opened #112 "Generate mockup with ENS name"
User can click a button to generate a mockup with her ENS name.

[2022-08-22 10:08] tomislavmamic opened #113 "Generate image for the mockup"

[2022-08-22 10:08] #113 closed

[2022-08-22 10:21] tomislavmamic opened #114 "Add shipping address"

[2022-08-22 14:44] tomislavmamic commented on #27
I think that if we can use the template created by @VMLVaske in a way that a client can easily make a copy of it and start working on project details that can be reviewed and improved over time is the best way. Similarly to what I have done with ENS Shop documentation. It is all in Notion, share with them so they can add comment and content there too. We can then keep that document as a definition

[2022-08-22 15:01] tomislavmamic commented on #27
I've added 3 headings:
- Milestones
- Roadmap
- Payment schedule

[2022-08-22 22:12] anamarija09 commented on #109
@markoprljic can you leave comments, I added your suggestions at the end:
https://docs.google.com/document/d/14uF8GNpDTFJj6GY7FWu1yak6EL59JYH9/edit?usp=sharing&ouid=113230950912230798952&rtpof=true&sd=true

[2022-08-23 09:57] ahmadabugosh commented on #109
Thanks @markoprljic @anamarija09 I think the tweet thread is good to go (I cleaned up the last Marko section at the end, fixed a few small mistakes and made it fit in the character limit). Can you post it @anamarija09 ?  :)

[2022-08-23 14:52] tomislavmamic commented on #106
Members can select start and end date.
They can see their and others days off.
They can separately decide how many paid days they want to take. This can be submitted in a salary report.

[2022-08-24 01:56] freshelle commented on #106
If possible, can we have a separate report which can be viewed by members which tracks the total time off days available, used, and unused days. You may refer to the "Tracker" table in this sheet - https://docs.google.com/spreadsheets/d/1_qGBrQ8VqbpP1NMFO8yimAsEmYwkzk_TbyXWQnl1ovo/edit?usp=sharing

[2022-08-24 21:30] #97 closed

[2022-08-24 21:31] ahmadabugosh opened #115 "Create Multisig for Credit Card Payments"

[2022-08-24 21:31] ahmadabugosh opened #116 "Sign up For Swype.com"

[2022-08-24 21:31] ahmadabugosh opened #117 "Create Hubspot for GM and invite relevant team members"

[2022-08-24 21:32] ahmadabugosh opened #118 "Create Lastpass process"

[2022-08-25 09:13] ahmadabugosh opened #119 "Partner Agreement Template"
We have created a partner agreement template that we have passed on to a legal consultant for comments. This should be done by next week at the latest. Once we get feedback from the legal counsel, we will create the final agreement for Commons Stack, The Trusted Seed and Tokenlog.

cc @markoprljic @rbsal97

[2022-08-25 09:19] markoprljic commented on #119
Woohoo!

[2022-08-25 10:51] rbsal97 commented on #119
Nice! Thanks @ahmadabugosh!

[2022-08-25 13:19] ahmadabugosh commented on #117
hey @markoprljic @tomislavmamic @rbsal97 @freshelle @VMLVaske I invited you to Hubspot, which is a CRM that I recommend we start using to manage current and future clients (on the business development and relationship side).  Let me know if you have any questions, maybe we can set up a session to go through it together if you're new to it.

[2022-08-25 13:19] #117 closed

[2022-08-31 10:00] freshelle commented on #106
Can we add a percentage of the time-off? Some just have time-off for half a day or 1/3 of the day. And also a notes column please

[2022-08-31 10:01] freshelle commented on #104
Can we please add a "Description" column when submitting the Time report? Thank you!

[2022-08-31 10:04] nebs-dev commented on #106
i found one issue here - i was able to select start date that was higher than end date. This way "Days" column was a negative number.
![Screenshot-2](https://user-images.githubusercontent.com/11771927/187653782-151ce17f-0013-45a5-9076-ca348cb65b38.png)

[2022-09-02 11:32] #115 closed

[2022-09-02 14:52] tomislavmamic commented on #106
@freshelle I have made a change to Days off (now renamed to Time off) page in GM Members:
- each member can now see their time given, used and left. It calculates both days and hours.
- instead of percentages, I made it possible for members to select how many hours in the period have they been off and how many hours of those they want to be paid
- added the notes column

Thanks for noticing, @nebs

[2022-09-02 14:52] tomislavmamic commented on #106
@freshelle I have made a change to Days off (now renamed to Time off) page in GM Members:
- each member can now see their time given, used and left. It calculates both days and hours.
- instead of percentages, I made it possible for members to select how many hours in the period have they been off and how many hours of those they want to be paid
- added the notes column

Thanks for noticing, @nebs

[2022-09-05 12:48] markoprljic commented on #94
Any update on this?

[2022-09-05 12:48] #59 closed

[2022-09-05 12:49] markoprljic commented on #90
@tomislavmamic Will this be ongoing, keeping this issue In Progress?

[2022-09-05 12:52] markoprljic commented on #73
Hey @luluavalloni sorry about this, but I have forgotten how these look like :)
Do you mind uploading screens here please? And also let me know if you uploaded them to our shared drive folder. Thanks!

[2022-09-05 12:54] #23 closed

[2022-09-05 12:59] markoprljic commented on #102
Just a reminder @VMLVaske not to forget about this task :) Might be good to add it to the Resources section in our Notion.

[2022-09-05 13:08] #6 closed

[2022-09-05 13:08] #109 closed

[2022-09-08 22:33] luluavalloni commented on #73
SWAG GM QUOTES 01.png
<https://drive.google.com/file/d/19cM4cCkEqJDLz5JFieK8KXlYX7U0qeOV/view?usp=drive_web>
 SWAG GM QUOTES 02.png
<https://drive.google.com/file/d/1ZLH3rBTG39uiNlR3ilNCJdU4DH8yoBCA/view?usp=drive_web>
 SWAG GM QUOTES 03.png
<https://drive.google.com/file/d/1Tk8ZXWSdneZFmgHeMQ3zM_yiFmrLX9Q5/view?usp=drive_web>
 SWAG GM QUOTES 04.png
<https://drive.google.com/file/d/1-XWdUhnV9NcXVr

[2022-09-09 12:07] luluavalloni commented on #73
They should be, but I'm finishing the last illustrations I have to do and
I'm gonna reupload everything I have on the drive so nothing is missing :D

Em sex., 9 de set. de 2022 às 08:45, Marko ***@***.***>
escreveu:

[2022-09-14 08:29] anamarija09 commented on #35
Yess

[2022-09-14 11:15] markoprljic commented on #39
Draft deck with sample content https://docs.google.com/presentation/d/1xMImctFZzlRuYlm6hsXx68tu6cWfzO8ZCCNGoqTzmgo/edit#slide=id.p1

Figma template design the brochure (A4 PDF) https://www.figma.com/file/fmxubOM0QeyTZ8XYBFpPjA/A4%2FA5-Brochure-Design-Template-(Community)

Todo:

- [ ] create content structure
- [ ] source additional content (storytelling and other)
- [ ] editorial design
- [ ] app

[2022-09-14 12:37] rbsal97 commented on #94
Hi @markoprljic, apologies for the late revert. Ill be waiting for @luizakp's input on this. I will update once confirmed.

[2022-09-16 09:18] ahmadabugosh opened #120 "Add Hubspot form to website"
Hi team, can you please add this Hubspot form to the website (once it's ready)

[code]

[2022-09-22 11:57] ahmadabugosh commented on #27
I created this Hubspot form, which I'm sending to clients for the time being: https://share-eu1.hsforms.com/1Uwmw0VEbQkCKA_lwwN9usQfkwqb

[2022-09-22 14:16] #28 closed

[2022-09-22 14:19] markoprljic opened #121 "Suggest Frontend Frameworks and Chart Libraries"

[2022-09-22 14:22] markoprljic opened #122 "Discuss revenue models and licensing"

[2022-09-22 14:22] markoprljic commented on #122
Set up a call with @GriffGreen and Tam: Discuss
    - Revenue
    - Ownership
    - Licensing
    - Payment / Building Costs

[2022-09-22 14:33] markoprljic opened #123 "Create clickable prototype of the Hatch Dashboard"
The purpose is to demo the product in the early stages and gather feedback from closed group of users. The prototype should be fully functional except for the input fields (parameters).

As a User I want to:
- see the welcome page
- explore modules
- enter parameters and see the results on the screen
- submit my proposal

As an Admin I want to:
- Sign in (if whitelisted)
- see all settings and opt

[2022-09-23 10:28] markoprljic opened #124 "CS Website Requirements gathering"

[2022-09-26 12:41] ahmadabugosh opened #125 "Impact DAO Graphic"

[2022-09-26 12:42] ahmadabugosh commented on #125
Work with the design team to create an impact DAO mapping graphic (similar to this one): https://twitter.com/GenuineJack/status/1569726765798391810

[2022-09-26 12:43] ahmadabugosh opened #126 "Create launch plan for website"

[2022-09-26 12:46] ahmadabugosh opened #127 "Create launch plan for swag shop"

[2022-09-26 12:48] ahmadabugosh commented on #127
Create a special launch plan for the swag shop to include:

- Special giveaway competition for free swag (best meme, best graphic etc.), using https://gleam.io/
- Twitter thread

Anything else?

[2022-09-26 12:49] ahmadabugosh opened #128 "Videos for GM"

[2022-09-26 12:49] ahmadabugosh opened #129 "Create videos from clients (testimonials)"

[2022-09-26 12:49] ahmadabugosh opened #130 "Create videos of profiles on GM team"

[2022-09-26 12:49] ahmadabugosh opened #131 "Create GM explainer videos"

[2022-09-27 07:16] #27 closed

[2022-09-27 07:17] #94 closed

[2022-09-27 09:37] tomislavmamic opened #132 "Create QA session guidelines page in Notion"
It would be good to have one place where it is explained how to do the testing and report issues, that can then be referenced in the description of each QA session epic in zenhub/github.

[2022-09-28 07:39] markoprljic opened #133 "Praise System Promotion"

[2022-09-28 10:02] markoprljic opened #134 "Web3 Swag Shop Promotion"
### What?
Promote our Web3 Swag Shop to Impact DAOs and similar organizations and convert them into paying customers.

### Why?
We want to deploy as many Swag Shops as possible.

### Success metrics
- Lead Conversion Rate >10%
- Lead-to-Sale Conversion Rate >25%

### Next steps

- [x] Define the offer and possible options (with/without custom design, maintenance and store manager, revenue share mo

[2022-09-28 10:04] markoprljic commented on #134
Speaking with Griff the other day he recommended that we partner with ENS DAO Comms team and align the promotions and communication around the Swag shops. They will be promoting the ENS Swag shop and at the same time we want to promote our Swag Shop product.
Since we already have a great deal with them it would be wise to partner on the Comms side as well.

[2022-09-28 10:28] markoprljic commented on #134
@tomislavmamic FYI

[2022-09-28 11:16] tomislavmamic commented on #134
I was talking about it with Spencer from ENS DAO and my proposal to him was that we prepare or draft for them twitter thread about the shop. We would also prepare our own twitter thread. Also, we will prepare and post in ENS Forum a post announcing the swag shop. He didn't mention comms team, and I forgot to ask. I will message them to see if we can have a call with them.

[2022-09-28 13:08] ahmadabugosh commented on #134
Thanks @tomislavmamic ! Let me know what they say. Also, can you see if we can schedule something with them next week?

[2022-09-28 19:17] tomislavmamic commented on #134
They said we need to first complete the shop and then they will share it with TNL team. Also, they don't think it will need much promotion effort. Especially if Nick and other OGs share. They believe we will sell more than 2000 hats initially.

[2022-09-29 07:02] #95 closed

[2022-09-29 07:02] #3 closed

[2022-09-29 07:03] #96 closed

[2022-09-29 07:03] markoprljic opened #135 "Projects pages need redesign"

[2022-09-29 07:29] markoprljic commented on #135
Next steps would be:

- [ ] Create a doc with all info for each projects and supporting images, screenshots
- [ ] Editorial review and final polish of the content
- [ ] Layout design and page structure
- [ ] UI design
- [ ] Review and sign-off for dev
- [ ] FE Dev
- [ ] QA
- [ ] Release

[2022-09-29 09:32] rodricastillo9013 commented on #135
perfect! I'll start with this next week as a priority! @markoprljic

[2022-09-29 10:11] markoprljic commented on #135
Looping in @divine-comedian @ahmadabugosh for assistance for content creation.

[2022-09-29 12:54] markoprljic commented on #133
https://docs.google.com/document/d/1DiDTWGtOLOwgeihr7IxIh2tFF9XEBDChWGpCBOH41e0/edit#

[2022-09-29 20:04] anamarija09 commented on #127
https://docs.google.com/document/d/1rrZ0rOQpQwbTCKd6Aqkotp8su_RQZi8GbrKl7aulczM/edit?usp=sharing
I put the suggestions in google doc

[2022-09-29 21:20] anamarija09 commented on #126
https://docs.google.com/document/d/1jS5qReB9eYBdqRExrDw8BV2IH2wUICGECnde5zDlR98/edit?usp=sharing will continue adding

[2022-09-30 15:30] anamarija09 commented on #125
we could start with 5 DAOs per category to make it less confusing. I marked the DAOs but would be good to check which ones are worth mentioning first.
https://docs.google.com/spreadsheets/d/1gbOHXnamtLKwJMra9kLewXi8Kdn4vST77epcY4I4XIk/edit?usp=sharing

We could ask people when we post if they want their Impact DAO on it

[2022-10-03 10:50] markoprljic opened #136 "Product images are stretched"

[2022-10-03 10:51] markoprljic commented on #136
![Screenshot 2022-10-03 at 12.50.54.png](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/cc0b2d2f-56ba-4bda-89d0-c56bd00a42b6)
All images loaded on the homepage look stretched. I was checking on Category listing and they seem to be fine there.

[2022-10-03 14:14] ahmadabugosh commented on #134
Thanks @tomislavmamic but I think we still want to have a meeting with them to build relations with them and plan out how we can market together (also on an ongoing basis). Can you introduce @anamarija09 and I to their team?

[2022-10-03 17:21] kkatusic commented on #136
@markoprljic can you open website in incognito mode and see is there any changes?

[2022-10-04 07:57] markoprljic commented on #136
Still look squeezed.

[2022-10-04 08:20] kkatusic commented on #136
Open browser, open that link, right click, in dropdown menu choose "Inspect element", it will open developer console, than choose Network tab, check "Disable cache" and than refresh page and let me know ;)

[2022-10-04 09:06] markoprljic commented on #136
I did, I tried different browser as well. Still the same.
Maybe @rodricastillo9013 @ahmadabugosh try it out as well and let us know?

go to https://swag.generalmagic.io/ and check if product images looked stretched on the homepage, make sure to go to page 2 and 3.

[2022-10-04 10:18] ahmadabugosh commented on #136
Yes still looked stretched to me. Are we using a CDN or something that could be caching it?

[2022-10-05 08:48] rodricastillo9013 commented on #136
I see it well! I don't see it stretched! @kkatusic @markoprljic

[2022-10-05 09:05] kkatusic commented on #136
I fixed it.

[2022-10-05 09:05] #136 closed

[2022-10-06 08:55] markoprljic opened #137 "Homepage revisions"

[2022-10-06 08:56] markoprljic commented on #137
https://app.ruttl.com/share/RhBB1yE01Tk61iFpjIgl?page=G1sTC4OouuNdxce2KETm

I left comments on the live site, please see the link above.

[2022-10-06 08:57] #46 closed

[2022-10-06 14:25] markoprljic opened #138 "Create proposals to other DAOs"
### Goal
Increase GM presence and brand/services awareness in the Impact DAO and Public Good space.

### Objective
Finding needs that DAO's have and offering our services and products to them. Find other ecosystem funding opportunities for builders (grants, programs, bounties etc.)
Write 10 formal proposals to different DAO's offering our products and/or services.

Creating proposals targeting spe

[2022-10-07 13:52] markoprljic opened #139 "NFT Minter"

[2022-10-09 17:55] Vyvy-vi commented on #74
We could use https://chroniclebot.com/ for this

[2022-10-09 18:06] Vyvy-vi commented on #63
We could set up a bot command for doing this.
`/giveaccess MEMBER, CHANNEL`

[2022-10-09 18:07] Vyvy-vi commented on #68
Which repos do we need to track? Only `gm-planning`, or all the repos in the org?

[2022-10-09 18:11] Vyvy-vi commented on #64
SInce #who-is-available is being used as the default place to add availability info, we can set up the following commands-
`/unavailable time-slot, REASON`
`/available time-slot, REASON`

the data from here can go somewhere in Coda, from where we can _maybe_ send DMs to any buddies/project leads about the same (I think we already have a "project team"-like section in Coda)

[2022-10-09 18:15] Vyvy-vi commented on #31
We could totally set this up :+1:
What time would be suitable for GM?

[2022-10-10 08:13] markoprljic commented on #68
Might be good to have only gm-planning because that's where all things start. However, this needs a bit more thought on:
- what issues do we want to show
- do we want to add labels o fetch only issues labeled as "Good first issue" open to contributors
- do we want to fetch based on epics / working groups (i.e. design, marketing, hr, development)

Maybe this one is lower priority until we decide on

[2022-10-10 08:16] markoprljic commented on #64
Yeah, we have Time-off in Coda already, we just need to figure out where the info is added first, is it in who-is-available channel or Coda? Since Coda is considered single source of truth maybe best to pull the info from there.
I think we should just check the current process on how/where team members add their availability.

[2022-10-10 08:22] markoprljic commented on #63
That would be cool. If I understand correctly, a bot command like this one would allow Admin to select a member and give them access to certain channels only?

/giveaccess Marko, #channel-name #channel-name #channel-name

Can we include channel section as well?
Or we simply create a new "Trial" role with permissions to access Watchtower and Chambers, and use the bot command to give access to selec

[2022-10-10 08:24] markoprljic commented on #74
Ok, I trust your decision. What are the requirements for this?
What instructions do we need to give team members when creating an event?

[2022-10-10 10:59] ahmadabugosh opened #140 "Pull Tweets into Discord"

[2022-10-10 11:03] ahmadabugosh commented on #140
Hey @Vyvy-vi, I created a channel called "🐦amplify", can you please make it automatically pull in all new tweets from our twitter account: https://twitter.com/generalmagicio ?

Thanks!

[2022-10-10 13:02] Vyvy-vi commented on #74
This bot treats a Google Calendar as the source-of-truth.
For creating an event, a team member would need access to the org google calendar, and the bot would automatically add the event to discord after it's created.

[2022-10-10 13:05] Vyvy-vi commented on #91
Palantir bot (https://github.com/generalmagicio/palantir) implements this, however it is needs to updated to support all the new changes in Coda and needs to deployed.

[2022-10-10 13:46] markoprljic commented on #74
Aha, so we need to have org gcal first and everyone grant access to it.
Hmmm... since we don't have that many org meetings (only monthly sync for now) maybe we should not prioritise this issue?

[2022-10-10 13:47] markoprljic commented on #91
Alright! Thanks for the update.

[2022-10-12 06:25] markoprljic commented on #134
@Zeptimus

[2022-10-12 06:26] markoprljic commented on #133
This will need design.

[2022-10-12 06:27] #98 closed

[2022-10-12 06:28] #53 closed

[2022-10-12 06:29] markoprljic commented on #81
@ahmadabugosh Maybe we can wrap this up with Wesley with a simple format agreement / terms and close this Epic?

[2022-10-12 08:45] markoprljic commented on #138
Got it. You are referring to our services, right? Not the products like Swag Shop and Praise? @Zeptimus

[2022-10-12 08:50] anamarija09 opened #141 "Design promotion"
The aim is to promote our designs, design team and the work we have already done
https://docs.google.com/document/d/1QbeDWfgddjx5ceA1QAvG1pnkNTpxVbSWQd6aJVqx1M0/edit

[2022-10-12 08:57] markoprljic commented on #138
Move fast and break things. We're a startup! 😁

On Wed, Oct 12, 2022, 10:56 Zeptimus ***@***.***> wrote:

[2022-10-12 09:02] markoprljic opened #142 "Concept proposal for Web3 Referral System"
TBD

[2022-10-12 09:08] markoprljic commented on #138
@Zeptimus Your findings and possible communication approach might also reflect in the Brochure we're about to create https://github.com/GeneralMagicio/gm-planning/issues/39 Please document your findings and provide any relevant info to @rodricastillo9013

[2022-10-12 09:12] markoprljic opened #143 "Tokenlog product promotion"

[2022-10-12 09:28] #19 closed

[2022-10-12 09:32] #18 closed

[2022-10-12 09:32] #14 closed

[2022-10-17 19:10] Zeptimus commented on #118
I don't think we need decentralized management of credentials correct me if I'm wrong. In that way of thinking I would have 2 admins who have access to everything but do not have to be particularly working on any platform. Their role would be to manage the access, audit who has access to what, and coordinate with "platform admins"

Platform admins are the managers of the platform having a work rol

[2022-10-17 19:53] Zeptimus commented on #138
My findings are here let me know if that's what you had in mind @markoprljic  or i should build something different.

https://docs.google.com/spreadsheets/d/1Ps6UxPLlqIdxp8vBJjpOBjhtGYFgKNgCGWrED8PY2to/edit#gid=1573214684

[2022-10-17 20:06] Zeptimus commented on #134
Marked proposal template as done: https://docs.google.com/presentation/d/1To4owUxi_vbUui6k3wGORTU2PFsESo4DTu6wU3Iy4e4/edit#slide=id.p1

(praise ahmad for that)

[2022-10-18 09:59] ahmadabugosh commented on #118
Thanks @Zeptimus ! That's pretty much what we did with @mhmdksh and I, but thanks for the push!

Speaking of which @mhmdksh can you take over this issue so we can close it? Making sure we have all the passwords on the shared sheet and in Lastpass? (I'll dm you on Discord too)

[2022-10-18 10:33] ahmadabugosh opened #144 "Centralize payments process"

[2022-10-18 10:34] ahmadabugosh commented on #144
Hey @freshelle @mhmdksh can you please create a google sheet with all of the Credit Card payments we have for General Magic with who is paying for what (with which card), then we can start the process of consolidating them and switching them over to Swype.

[2022-10-18 12:31] markoprljic opened #145 "Paid consultation call process and deliverable"
Create a defined process for consultation and a document to be given as deliverable to the prospect client.

[2022-10-19 06:00] freshelle commented on #144
Sure @ahmadabugosh, here's the link https://docs.google.com/spreadsheets/d/1lkpKrFuivn_95VT74VGYiH1_bkysMCJYHubVJrki3lU/edit?usp=sharing

[2022-10-24 10:16] ahmadabugosh opened #146 "Create GM emails (for anyone that wants one)"

[2022-10-24 10:25] #146 closed

[2022-10-25 15:10] ahmadabugosh opened #147 "Create a "How to start an Impact DAO" guide"

[2022-10-25 15:16] ahmadabugosh commented on #147
Can you start a Google doc on this for us to give our feedback @anamarija09 ? 🙏

[2022-10-26 17:51] Vyvy-vi commented on #74
alright 👍

[2022-10-27 10:16] markoprljic commented on #63
Nice! Let's do it then. I think @Nicbals @freshelle need to sync on this as well.

[2022-10-28 06:46] freshelle commented on #63
Let us know when the trial role is ready and @Nicbals will make the role changes and needed.

[2022-10-28 09:58] Nicbals commented on #63
Thanks for looping me in :) Just let me know when the command is up and going.

[2022-10-28 15:22] markoprljic opened #148 "Swag Shop BizDev"

[2022-10-28 15:23] markoprljic opened #149 "Submit proposal to Nouns DAO"

[2022-10-28 15:23] markoprljic opened #150 "Submit proposal to BitDAO"

[2022-10-28 15:23] markoprljic opened #151 "Submit proposal to Game7"

[2022-10-28 15:24] markoprljic opened #152 "Submit Optimism Grant"

[2022-10-28 17:57] Zeptimus commented on #152
done my post is hide
![imagen](https://user-images.githubusercontent.com/74430951/198701521-982dcdc0-88b4-4153-8729-87a1e0fd61d5.png)
Thats what i posted
https://docs.google.com/document/d/1S8FfImez2JIhINXu_TqaH8kux7OFry37h-zxPTnIHO8/edit#

And created this thread for getting feedback https://discord.com/channels/667044843901681675/1034442734502674463

Will close the issue when the post is public

[2022-10-28 18:00] Zeptimus commented on #148
I do not understand this one, would appreciate a deeper explanation on what success looks like

[2022-10-30 20:17] markoprljic commented on #149
Related https://publicnouns.wtf/ We're collaborating with them at Giveth.

[2022-10-31 19:50] Zeptimus commented on #151
Logged in to the web https://game7.io/ and apply to be a member of their forum and discord community. Do we have any lead to make me in faster so we can explore ways to collaborate, I'm personally in love with what they are doing

[2022-10-31 19:53] markoprljic commented on #151
Maybe ask Griff, he told me about them.

On Mon, Oct 31, 2022, 20:50 Zeptimus ***@***.***> wrote:

[2022-11-01 18:11] Zeptimus commented on #133
I was exploring Radicle community and maybe we could set praise for them im preparing a proposal but would need to talk to someone for technical details what i've done so far is here: https://docs.google.com/document/d/1-SLi8NxZni5GAEb1mSgh16MjCQNaIYeme5y8vs679-8/edit#heading=h.gnyjtnz3fab5

[2022-11-01 18:12] Zeptimus commented on #152
Done :D https://gov.optimism.io/t/draft-gf-phase-1-proposal-cycle-8-optimism-merch-shop/3828

[2022-11-01 18:12] #152 closed

[2022-11-02 19:49] Zeptimus commented on #149
Can I get a contact from the Giveth crew, I'm trying to get on their discord server since yesterday but their bot is broken. For them I was thinking of swag shop since one of the types of proposals is  sending a Noun to outer space (what better than swag in the real world :D) https://docs.google.com/document/d/1mbg-TG_I5EExKMJIPzARUZ9aw3DLuKIq9syNiV7HeDE/edit# here is an initial draft but again wo

[2022-11-02 20:13] Zeptimus commented on #150
I'm exploring BitDao they are looking for UX/UI designers between other jobs that can be seen here:
https://www.bitdao.io/jobs

In the prompts, they also have a couple we could step in
https://www.bitdao.io/prompts
I like the project of improving DAO Ideation and Governance I would have fun pming it too (L)

They also told me that we might even help the AEmbassy program which is their rewards syst

[2022-11-02 20:29] Zeptimus commented on #134
This we have the 3 tiers https://docs.google.com/document/d/1StuQyUNzApZfzAE-9coPvksfIrDt7s5BCDfsolR3BNY/edit#

@ahmadabugosh   is working on making those a presentation it's good to have both formats one to present and the other to post on forums

[2022-11-02 20:58] markoprljic commented on #150
Omg so many ops there! Great stuff Zepti 🙂

Rewards system? How about Praise?

Can you provide more details about the DAO Ideation and Governance stuff?

Maybe you, Ahmad and me can sync tomorrow on this?

On Wed, Nov 2, 2022, 21:13 Zeptimus ***@***.***> wrote:

[2022-11-02 21:02] markoprljic commented on #149
You mean Nouns DAO, not Giveth?

On Wed, Nov 2, 2022, 20:49 Zeptimus ***@***.***> wrote:

[2022-11-02 22:02] Zeptimus commented on #149
yeah 😅 i wanted to say if someone from giveth can link me to nouns dao contact

[2022-11-02 23:17] ahmadabugosh commented on #149
@Zeptimus I just connected you with Jake at Giveth, he'd be a great person to talk to about existing conversations Giveth is having (with nouns dao or any other impact dao)

[2022-11-03 11:09] markoprljic commented on #31
Would be great to push this soonest. Why? To get some engagement in our team other than just work, increase a sense of belonging and feeling of care. @Vyvy-vi

[2022-11-03 12:50] ahmadabugosh commented on #150
@markoprljic You can find details on the DAO Ideation and Governance RFP here: https://github.com/windranger-io/public-docs/blob/main/prompts/P001.md
It looks like it would be a big project!

@Zeptimus Do you have more details on the AEmbassy reward system?

[2022-11-03 13:01] Zeptimus commented on #150
https://aembassy.io/

We could explore to add praise as a complement to their actual reward system but imo should not be the first project but it's good to keep an eye.

[2022-11-03 13:15] Vyvy-vi commented on #31
:+1: I'll have something by the end of this week

[2022-11-03 13:19] Vyvy-vi commented on #68
for now, all notifs from gm-planning get forwarded to discord

[2022-11-03 13:37] ahmadabugosh commented on #150
@Zeptimus Cool, yes I think we should go with one of the prompts you mentioned as a first step then. What would the next step be for them, submit a forum post? I think we'd need to scope out the project ourselves first though.

[2022-11-03 15:16] markoprljic commented on #31
Nice! Thanks Vyvy :)

[2022-11-03 15:17] markoprljic commented on #68
Great! Should we close this issue? I'm ok with that.

[2022-11-03 15:22] markoprljic commented on #150
I LOVE THIS PROJECT https://github.com/windranger-io/public-docs/blob/main/prompts/P001.md

[2022-11-03 17:27] markoprljic commented on #150
btw. this section Proposal Gates and Support, thinking how BudgetBox project could be a solution.  https://github.com/windranger-io/public-docs/blob/main/prompts/P001.md#proposal-stage-gates-and-support

[2022-11-03 18:00] Zeptimus commented on #150
I love that one too Marko!! I think prompts are a good starting point, next step should be to make a proposal but to make a proposal it is nice if we scope it together as Ahmad suggested

[2022-11-04 11:22] markoprljic commented on #150
Yes I think Tokenlog V2 is ready, but @marthendalnunes should confirm.

[2022-11-05 12:17] ahmadabugosh commented on #142
Here is a [draft proposal](https://docs.google.com/document/d/1ZWFh_5PZz0-1KIkxX8xeOh6cyZUZ0kRSIqM6kpn9jwQ/edit#heading=h.vfaybf1nmn35) for this system. Also I had a meeting with [Chainvine](https://www.chainvine.xyz/) and they're going to send a proposal for a custom solution for Giveth.

[2022-11-06 13:33] Zeptimus commented on #150
I started a proposal still very raw but we can get an idea of what we would be proposing since proposals on bitdao are extremadly formal ( https://drive.google.com/file/d/116m5tMxQ3Dhmd7DrgRF_dlURPYZpFruq/view ) there is only 2 of them.

https://docs.google.com/document/d/1-SLi8NxZni5GAEb1mSgh16MjCQNaIYeme5y8vs679-8/edit# This is what im thinking about in order to execute that we will have to work

[2022-11-07 17:54] Zeptimus commented on #149
Still have no access to discord, should I proceed and propose their forums?

[2022-11-07 20:39] ahmadabugosh commented on #149
@Zeptimus Hey i think their Discord [maybe dead](https://twitter.com/pbrianandj/status/1587465449855295488), i would say try the forums

[2022-11-08 09:26] Zeptimus commented on #149
got it! i had a initial draft ill tweak it and make a forum post.

[2022-11-12 12:35] #134 closed

[2022-11-12 12:36] markoprljic commented on #65
@tomislavmamic What's the status of this issue? Ready to close or not?

[2022-11-12 12:36] markoprljic commented on #90
Status?

[2022-11-12 12:37] markoprljic commented on #111
@kkatusic Is this done or still open?

[2022-11-12 12:37] #73 closed

[2022-11-12 12:37] markoprljic commented on #44
Completed? @ahmadabugosh

[2022-11-12 12:39] markoprljic commented on #133
Dependency https://www.notion.so/giveth/Praise-Business-Development-3722ec81a3524cc5974e39384b389dca

[2022-11-12 12:40] markoprljic commented on #126
Is this completed? @anamarija09

[2022-11-12 12:40] markoprljic commented on #125
Update on this issue @anamarija09 ?

[2022-11-12 12:41] markoprljic commented on #120
@luizakp Can you do this? Or is this done already?

[2022-11-12 16:04] markoprljic opened #153 "Web3 Design System"
## Objective

Build the ultimate Web3 Design System.

## Rationale

Web3 space has matured to the point where design and interaction patterns are established and being repeatedly used across variety of DApps, throughout many product categories. It is safe to assume that these patterns will remain for a longer time, while new ones will emerge.
However,  the Web3 ecosystem is lacking a solid design

[2022-11-14 07:26] luizakp commented on #120
yup I can do this, next time assign me on the issue or add this issue on the project repo so I can do it right away :)

[2022-11-14 07:50] kkatusic commented on #111
@markoprljic we done this.

[2022-11-14 07:50] #111 closed

[2022-11-14 10:25] luizakp commented on #120
@markoprljic what is this hubspot form exactly?

[2022-11-14 12:21] ahmadabugosh commented on #120
Hey @luizakp, It's this form here: https://share-eu1.hsforms.com/1Uwmw0VEbQkCKA_lwwN9usQfkwqb

The problem is that Hubspot doesn't let you edit the styling much (it just gives you this embed code below):

[code]

---

Instead of adding this form directly, another solution would be to integrate it with a form service in Next JS and then I can integrate that with Hubspot (maybe a service that either

[2022-11-15 10:41] Zeptimus commented on #138
We are moving this to Hubspot for better team coordination this doc  will probably get less and less attention

https://docs.google.com/spreadsheets/d/1Ps6UxPLlqIdxp8vBJjpOBjhtGYFgKNgCGWrED8PY2to/edit#gid=1573214684

[2022-11-15 13:04] rodricastillo9013 opened #154 "Marketing Assets for GM"
we must create assets to support General Magic's marketing tasks.

Here you will find the GM Marketing Figma file where you will see examples in the different formats we need:

https://www.figma.com/file/chqx3AaGudjrOXij9io5ho/General-Magic-Marketing?node-id=140%3A3

Here is the GM style guide:

https://www.figma.com/file/Jd1ejhIEl1nF53wzvgVsav/General-Magic-Design-%26-Brand-Guidelines?node-id=0%3

[2022-11-15 21:04] #44 closed

[2022-11-16 07:21] #68 closed

[2022-11-17 12:20] Zeptimus commented on #151
I'm inside their discord and already engaged with them!! Ill be attending their community call today 6pm CET
![image](https://user-images.githubusercontent.com/74430951/202444644-901becb3-1880-48ed-a65b-40920b4808e8.png)

[2022-11-17 12:21] markoprljic commented on #151
Nice!

[2022-11-21 12:20] #138 closed, assigned to Zeptimus

[2022-11-22 14:21] #90 closed, assigned to tomislavmamic

[2022-11-29 12:55] markoprljic commented on #127
Should this be closed?

[2022-11-29 12:58] anamarija09 commented on #127
I will close it and create a new issue in marketing that is focused on Impact DAO swag shop

[2022-11-30 09:01] Zeptimus commented on #149
We need to hold a Nouns to propose the DAO which costs around 30-40eth we have been talking with Vlad who passed a proposal using the Gnar nouns but it seems we need to do something for gnar too and they already have a swag shop (ours is cooler). How should we proceed here?

[2022-11-30 09:03] Zeptimus commented on #150
We had a great call with Johnatan, next step is for Griff to send GM and Commons stack links and schedule another call

[2022-11-30 09:06] Zeptimus commented on #151
We had a great call yesterday with ahmad griff and michel from game7. We are trying to start with praise but there is alot of potential collaborations they are hiring so many roles and distributing 100M grants

https://talent.game7.io/
https://twitter.com/G7_DAO/status/1597232345865543680

[2022-11-30 09:07] Zeptimus opened #155 "Create a text and apply for grants Budgetbox"

[2022-11-30 09:09] Zeptimus commented on #155
Griff sent me all the documentation ill have a meeting with Vitor today to explore the features to make it from an MVP to an actual open source product,

[2022-11-30 09:59] markoprljic commented on #151
Nice!

On Wed, Nov 30, 2022 at 10:06 AM Zeptimus ***@***.***> wrote:

--
*Marko Prljić*
*Design Scientist*

[2022-11-30 10:00] markoprljic commented on #149
So what I understood is we need 30-40 eth to submit a proposal? That seems out of question :D

[2022-11-30 10:02] markoprljic commented on #150
Amazing!

On Wed, Nov 30, 2022 at 10:03 AM Zeptimus ***@***.***> wrote:

--
*Marko Prljić*
*Design Scientist*

[2022-11-30 14:45] Zeptimus commented on #149
Yeah, unles there is a clear direction on how to aproach it its on the icebox for now

[2022-11-30 15:49] markoprljic commented on #149
Ok.

On Wed, Nov 30, 2022, 15:45 Zeptimus ***@***.***> wrote:

[2022-11-30 19:09] ahmadabugosh commented on #149
Yes, for sure let's ice it @Zeptimus (please move it on HS to "Closed Lost")

![giphy-ice](https://user-images.githubusercontent.com/4855928/204886779-426b56bd-1ece-4d39-9676-97b750ee8ec7.gif)

But I think we should explore some of the other forked smaller nouns projects (public nouns, lil nouns etc)